# Arquivos de configuração específicos do Visual Studio
.vs/

# Arquivos intermediários de compilação
obj/
*.obj
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
bin/
*.exe
*.dll
*.pdb
*.userprefs

# Arquivos de pacotes NuGet
packages/

# Arquivos de build
build/
